/*Список преимуществ*/
.section-list__svg {
  background-color: $section-bcg; 

  @media screen and (max-width: $tablet){
    outline: solid rgb(128, 0, 79);
    padding: 25px 190px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
  }     
}
    
.section-list {
  //   display: flex;
  //   flex-wrap: wrap;
  margin-left: calc(-1 * #{$value-margin});
    
  padding-top: 94px;
}
    
.section-list__item {
  flex-basis: calc(100% / 4 - #{$value-margin});
  margin-left: $value-margin;
  display: inline-block;
}

/*Список карточек (Чем мы занимаемся")*/

.card-set {
  //   display: flex;
  //   flex-wrap: wrap;
  margin-left: calc(-1 * #{$value-margin});
  padding-bottom: 94px;
}
    
.card-set__img {
  flex-basis: calc(100% / 3 - #{$value-margin});
  margin-left: 30px;
}
    
.section-title {
  color: $text-black;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px; 
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
}
    
.section-list__subtitle  {
  @include text(700, 14px, 1.142,0.03em);
  color: $text-dark-gray;

  @media (max-width: $tablet){
    text-align: center;
  }
}
  
.section-list__description {
  // outline: solid blue;
  color: $text-gray;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet){
    margin-bottom: 30px;
  }
}
    
.card-set__img {
  position: relative;
}
    
.card-set__title {
  margin: 0;
  text-align: center;
  color: $text-white;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  background-color: $bcg-cards;
  width: 100%;
}
    