/*Список преимуществ*/
.section-list__svg {

  background-color: $section-bcg; 
  margin-bottom: 30px;
  max-height: 120px;
  padding: 25px 125px;
  max-width: 320px;
  
  @media screen and (min-width: $mobile){
    padding: 25px 190px;
    max-width: 450px;
  }    
  @media screen and (min-width: $tablet){
    padding: 25px 142px;
    width: 354px;
  }
  @media screen and (min-width: $desktop){
    margin-bottom: 30px;
    padding: 20px 100px;
    width: 270px;
  }
}

    
.section-list {

  @media screen and (min-width:  $tablet){
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$indent-card});
  }
  @media screen and (max-width: 1199px){
    padding-top: 60px;
  }
  @media screen and (min-width: $desktop){
    padding-top: 94px;
  }
}
    
.section-list__item {

  @media screen and (min-width: $tablet){
    flex-basis: calc(100% / 2 - #{$value-margin});
    margin-left: $value-margin;
    display: inline-block;
  } 
  @media screen and (min-width: $desktop){
    flex-basis: calc(100% / 4 - #{$value-margin});
    margin-left: $value-margin;
    display: inline-block;
  }
}

.section-list__description {
  color: $text-gray;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $desktop){
    margin-bottom: 30px;
  }
}

/*Список карточек (Чем мы занимаемся")*/

.card-set {

  @media (max-width: $desktop){
    display: none;
  }

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet){
    margin-left: calc(-1 * #{$value-margin});
    padding-bottom: 94px;
  }

  @media screen and (min-width: $desktop){
    margin-left: calc(-1 * #{$value-margin});
    padding-bottom: 94px;
  }
}
    
.card-set__img {
  flex-basis: calc(100% / 3 - #{$value-margin});
  margin-left: 30px;
}
    
.section-list__title {
  @include text (700, 36px, 1.166, 0.03em);
  color: $text-black;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px; 
  text-align: center;
  @media (max-width: 1199px){
    display: none;
  }
}

.section-list__subtitle  {
  @include text(700, 14px, 1.142,0.03em);
  color: $text-dark-gray;

  @media (max-width: $tablet){
    text-align: center;
  }
}
    
.card-set__img {
  position: relative;
}
    
.card-set__title {
  margin: 0;
  text-align: center;
  color: $text-white;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  background-color: $bcg-cards;
  width: 100%;
}
    