html {
  box-sizing: border-box;
}
    
*,
*::before,
*::after {
  box-sizing: border-box;
}
    
.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // background-color: rgb(204, 228, 221);

 
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 0;}

summary {
  display: list-item;
}
  
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
  
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}
  
a {
  text-decoration: none;
  display: block;
  
  list-style: none;
  padding: 0;
  margin: 0;
}
  
p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}
  
h3 {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

  
