// .footer {
//   background-color: $background;
// }
    
// .footer__contacts {
//   display: inline-block;
// }
  
// .footer__container {
//   display: flex;
//   align-items: baseline;
// }
    
// .logo {
//   @include logo;
  
//   .logo--footer & {
//     padding-bottom: 20px;
//   }
// }
  
// .footer__title {
//   display: inline-block;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.03em;
//   margin-bottom: 20px;
//   color: $text-white;
// }
    
// .footer-address .footer-address__link {
//   color: $text-white-op06;
// }
    
// .footer-address .footer-address__text {
//   color: $text-white;
// }
    
// .footer-address__mail {
//   margin: 9px 0;
// }
  
// .footer__social-links {
//   display: inline-block;
//   margin-left: 70px;
//   padding-top: 72px;
//   padding-bottom: 100px;
// }
    
// .footer__list {
//   display: flex;
//   align-items: center;
// }
  
// .footer__links {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   background-color: $bcg-links;
//   border-radius: 50%;
//   outline: none;
    
//   transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//   &:focus,
//   &:hover {
//     background-color: $btn-blue;
//   }
// }
  
// .footer__svg {
//   display: block;
//   fill: $text-white;
// }
    
// .footer__links:not(:first-child) {
//   margin-left: 10px;
// }
    
// .footer__form-group {
//   margin-left: 93px;
// }
    
// .footer__form {
//   display: flex;
// }
    
// .footer__input {
//   width: 358px;
//   height: 50px;
//   margin-right: 12px;
//   background-color: transparent;
//   border: solid 1px $border-input-footer;
//   border-radius: 4px;
//   padding-left: 16px;
    
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 1.166;
//   letter-spacing: 0.01em;
//   color: $text-gray;
      
// }
    
// .footer__button {
//   padding: 0;
      
//   display: flex;
//   align-items: center;
//   justify-content: center;
     
//   border-radius: 4px;
     
//   width: 200px;
//   height: 50px;
//   color: $text-white;
//   background-color: $btn-blue;
//   border: none;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 1.875;
//   cursor: grab;
// }
    
// .footer-btn__svg {
//   display: block;
//   margin-top: 13px;
//   margin-bottom: 13px;
//   margin-left: 10px;
    
//   width: 24px;
//   height: 24px;
// }
    