
.hero {
  text-align: center;
    
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: $desktop){
  padding-top: 200px;
  padding-bottom: 200px;
}
  
.hero__bcg {
  margin: 0 auto;
  background-color: $background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
    
  @media screen and (max-width: 767px){
    // width: 100vw;
    min-height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  
      url(./../../img/hero-mobile_img.jpg);
      
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
        url(./../../img/hero-mobile_img@2x.jpg);
    }
  }
  
  @media screen and (min-width: $tablet){
    max-width: 768px;
    max-height: 400px;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  
      url(./../../img/hero-tablet_img.jpg);
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
        url(./../../img/hero-tablet_img@2x.jpg);
    }
  }
    
  @media screen and (min-width: $desktop){
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
      url(./../../img/hero-decktop.jpg);
    background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../img/hero-decktop_Img@2x.jpg);
    }
  }
}
      
.hero__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
      
  color: $text-white;
  background-color: $btn-blue;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1.875;
  cursor: grab;
}
    
.hero__title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  color: $text-white;
  @media screen and (min-width: $tablet){
    @include text(900, 26px, 1.615, 0.06em);
  }  
     
  @media screen and (min-width: $desktop){
    @include text(900, 44px, 1.363, 0.06em); 
  } 
}
     
  
  