@mixin visually-hidden ()  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@mixin logo($_fw, $_fs, $_lh, $_ls) {
  font-family: "Raleway", sans-serif;
  font-weight: $_fw;
  font-size: $_fs;
  line-height: $_lh;
  letter-spacing: $_ls;
}
  
@mixin auth-nav__link ($_fw, $_fs, $_lh, $_ls) {
  font-weight: $_fw;
  font-size: $_fs;
  line-height: $_lh;
  letter-spacing: $_ls;
}