
.section__portfolio{
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
  }
}

/*Заголовок*/
.visually-hidden{
  @include visually-hidden();
  
}

/*Кнопки*/
.buttons {
  text-align: center;
  @include text(50, 16px, 1.625, 0.03em);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    justify-content: left;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.buttons:not(:last-child) {
  margin-right: 8px;
}
  
.buttons__text {
  color: $text-dark-gray;
  border: none;
  background: none;
  outline: none;
  padding: 6px 22px;
  border-radius: 4px;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
  &:hover,
  &:focus {
    cursor: pointer;
    color: $text-white;
    background-color: $btn-blue;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  
.buttons__item {
  text-decoration: none;
  color: $text-white;
  background-color: $border-card;
  border: none;
  display: inline-block;
  
  border-radius: 4px;

  &:not(:first-child) {
    margin-left: 8px;
  } 

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

// /*Проекты*/
// .projects {
//   padding-bottom: 94px;
//   margin: 0;
//   display: flex;
//   flex-wrap: wrap;

//   margin-left: calc(-1 * #{$indent-card});
//   margin-top: calc(-1 * #{$indent-card});
// }

// .projects__card {
//   flex-basis: calc(100% / 3 - #{$indent-card});
//   margin-left: $indent-card;
//   margin-top: $indent-card;
//   border: 1px solid $border-card;
//   background: $bcg-white;
//   margin-bottom: 20px;

//   &:focus {
//     list-style: none;
//     text-decoration: none;
//   }
// }

// .projects__link {
//   &:focus,
//   &:hover {
//     outline: none;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     opacity: 1;
//   }
// }


// .projects__card-thumb {
//   position: relative;
//   overflow: hidden;
// }

// .projects__description {
//   width: 100%;
//   height: 100%;
//   background-color: $bcg-img;
//   transform: translateY(101%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   font-size: 18px;
//   line-height: 28px;
//   color: $text-white;
//   padding: 63px 24px;
//   position: absolute;
//   bottom: 0;

//   /* opacity: 0; */

//   .projects__link:hover & {
//     transform: translateY(0);
//   } 
// }


// .projects__description:hover {
//   opacity: 1;
// }

// .card-text {
//   padding: 20px 24px;
// }

// .projects .card-text__title {
//   color: $text-dark-gray;
//   margin-top: 0;
//   margin-bottom: 4px;

//   font-weight: bold;
//   font-size: 18px;
//   line-height: 36px;
// }

// .projects .card-text__label {
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 30px;
//   color: $text-gray;
// }
